<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!-- Servlet Section Below -->  
  
  <servlet>
  	<servlet-name>GetItemController</servlet-name>
  	<display-name>GetItemController</display-name>
  	<description></description>
  	<servlet-class>com.granumignis.web.GetItemController</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>GetItemForUpdateController</servlet-name>
  	<display-name>GetItemForUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.granumignis.web.GetItemForUpdateController</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>CreateItemController</servlet-name>
  	<display-name>CreateItemController</display-name>
  	<description></description>
  	<servlet-class>com.granumignis.web.CreateItemController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UpdateItemController</servlet-name>
    <display-name>UpdateItemController</display-name>
    <description></description>
    <servlet-class>com.granumignis.web.UpdateItemController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteItemController</servlet-name>
    <display-name>DeleteItemController</display-name>
    <description></description>
    <servlet-class>com.granumignis.web.DeleteItemController</servlet-class>
  </servlet>
  
 
<!-- Servlet Mapping Section Below -->
 
   <servlet-mapping>
  	<servlet-name>GetItemController</servlet-name>
  	<url-pattern>/getItem</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>GetItemForUpdateController</servlet-name>
  	<url-pattern>/getItemForUpdate</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
  	<servlet-name>CreateItemController</servlet-name>
  	<url-pattern>/createItem</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UpdateItemController</servlet-name>
    <url-pattern>/updateItem</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteItemController</servlet-name>
    <url-pattern>/deleteItem</url-pattern>
  </servlet-mapping>
  
</web-app>
